.itemCard {
  border: 2px solid gray;
  margin: 10px;
  padding: 1rem;
  border-radius: 10px;
  max-height: 28rem;
}

.itemCard > img {
  align-self: center;
}

.prices {
  display: flex;
  font-size: 1.5rem;
}

.itemInfoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemInfoSection * {
  margin: 1px auto 1px auto;
}

.checkout,
.topSection {
  display: flex;
  justify-content: space-between;
}

.prices > p:first-child {
  font-weight: bold;
  margin-right: 10px;
  color: green;
}

.yellowtag {
  background-color: rgb(255, 102, 0);
  color: white;
  padding: 2px 12px 2px 12px;
  border-radius: 5px;
}
