* {
  box-sizing: border-box;
}

/* .App {
  height: 100vh;
  margin: 0;
  font-family: Helvetica;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto auto 30px;
  grid-template-areas:
    "nav"
    "content" "cart"
    "ftr";
}

footer {
  grid-area: ftr;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.navBar {
  grid-area: nav;
}

main {
  grid-area: content;
}

.cartSection {
  grid-area: cart;
  max-width: 100px;
  display: flex;
  justify-content: flex-end;
} */

.itemCardContainer {
  display: flex;
  flex-wrap: wrap;
}
