* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  margin: 0;
  font-family: Helvetica;
  display: grid;
  /* mobile first - single column */
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto 30px;
  grid-template-areas:
    "nav"
    "content"
    "ftr";
}

footer {
  grid-area: ftr;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.navBar {
  grid-area: nav;
}

main {
  grid-area: content;
}

header,
footer,
aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemCardContainer {
  display: flex;
  flex-wrap: wrap;
}
